# Airflow User (for docker-compose)
AIRFLOW_UID=50000

# Airflow Web UI Credentials
_AIRFLOW_WWW_USER_USERNAME=<AIRFLOW_WWW_USER_USERNAME>
_AIRFLOW_WWW_USER_PASSWORD=<AIRFLOW_WWW_USER_PASSWORD>

# AWS Credentials (copy from your ~/.aws/credentials)
AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_REGION=us-east-1
S3_BUCKET=weather-data-koorosh-thesis

# Airflow Workflow Trigger Fine-grained Github Token
GITHUB_TOKEN=<GITHUB_PAT>
GITHUB_REPO_OWNER=kooroshkz
GITHUB_REPO_NAME=adaptive-data-profiling-etl

# MotherDuck Token
MOTHERDUCK_TOKEN=<MOTHERDUCK_TOKEN>

# Brevo Email Notifications
BREVO_API_KEY=<BREVO_API_KEY>
BREVO_SENDER_EMAIL=<VERIFIED_SENDER_EMAIL>
BREVO_SENDER_NAME=Airflow Weather Pipeline
BREVO_ALERT_EMAIL=kkomeilizadeh@gmail.com